.userRow{
    scroll-snap-align: center;
    td{
        padding: 1.3rem 0.8rem;
        background-color: #FFFFFF;
    }

    .time{
        color: #B0B0B0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
}
