.container{
    max-height: 500px;
    margin-bottom: 3rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.table{
    width: 100%;
    
}

.tableHeader{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #e5e5e5;
    th{
        text-align: left;
    }
}

.tableBody{
    font-size: 16px;
}

