@use '/public/colors.module.scss' as *;

.container{
    max-height: 500px;
    margin-bottom: 3rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.table{
    width: 100%;
    
}

.tableHeader{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #e5e5e5;
    th{
        text-align: left;
    }
}

.tableBody{
    font-size: 16px;
}

.idHead,
.nameHead,
.creationTimeHead,
.changeTimeHead, 
.contactsHead,
.actionHead{
    padding-bottom: 5px;
}

.idHead{
    width: 5%;
}

.nameHead{
    width: 25%;
}

.text{
    margin-right: 7px;
}

.creationTimeHead{
    width: 20%;
}

.changeTimeHead{
    width: 20%;
}

.contactsHead{
    width: 15%;
}

.actionHead{
    width: 25%;
}

.upArrow{
    rotate: (0);
}

.downArrow{
    rotate: (180deg);
}

.active{
    color: $primary-color;
}